fieldset {
  margin-top: 20px;
}

.movie_results_form .search_results_ul {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
}

.search_results_ul li {
  margin: 10px
}

.result_img {
  width: 125px;
  border-radius: 5px;
}

.movie_result {
  max-width: 125px;
}

@media only screen and (max-width: 425px) {

  .search_results_ul {
    height: 425px;
    flex-wrap: nowrap;
    overflow: scroll;
  }

  .search_results_ul li {
    margin: 10px 7.5px;
  }

  .result_img, .movie_result, .show_result {
    width: 125px;
  }
}