.search_results_ul {
  padding: 0;
  font-size: .75rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
}

.movie_result, .tv_result {
  margin: 10px 15px;
  max-width: 125px;
}

.result_img {
  width: 125px;
  border-radius: 5px;
}

@media only screen and (max-width: 425px) {
  .show_result {
    margin: 10px 10px;
  }

  .add_movie_display .search_results_ul {
    width: 375px;
    overflow-y: scroll;
    height: 265px;
  }

  .select_show_form .search_results_ul {
    height: 425px;
  }
}

@media only screen and (max-width: 320px) {
  .movie_result {
    margin: 10px 2px;
  }
}