fieldset {
  margin-top: 20px;
}

.movie_results_form .search_results_ul {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
}

.movie_result {
  margin: 10px 15px;
}

.result_img {
  width: 125px;
  border-radius: 5px;
}

.movie_result {
  max-width: 125px;
}

@media only screen and (max-width: 425px) {
  .add_show_page fieldset {
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .movie_results_form fieldset {
    height: 400px;
    overflow: scroll;
  }

  .result_img, .movie_result, .show_result {
    width: 100px;
  }

  .show_result {
    margin: 10px 10px;
  }
}

@media only screen and (max-width: 320px) {
  .movie_result {
    margin: 10px 2px;
  }
}