.add_show_page {
  display: flex;
  max-width: 100%;
  width: 1024px;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.search_form {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 250px;
}

.show_results_form {
  max-width: 100%;
  margin-top: 50px;
}

.season_buttons {
  margin-top: 50px;
}

.season_buttons button {
  max-width: 100%;
  margin: 0 15px;
}

.show_results_form__context {
  margin-top: -40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 15px;
}