.add_show_page {
  display: flex;
  max-width: 100%;
  width: 1024px;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.show_results_form {
  max-width: 90%;
  text-align: center;
  margin-top: 50px;
}

.show_results_form__context {
  margin-top: -50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.add_show_page__episode_results {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}