.add_media_page {
  display: flex;
  max-width: 100%;
  width: 1024px;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.add_media_form {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  max-width: 90%;
}

.add_media_form button {
  align-self: center;
  margin-top: 35px;
  width: 50%;
}

.add_media_form button:hover:enabled {
  background-color: #E54E45;
}

.add_media_form__context {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin-top: 20px;
}

.add_media_page h3 {
  font-size: .80rem;
}

.add_media_form__context select, .add_media_form__context input {
  margin: 0 10px;
}

.search_form {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 250px;
}

.search_form button {
  align-self: center;
  width: 75%;
}

.search_form button:hover {
  background-color: #E54E45;
}

.segmented-control {
  margin-top: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.segmented-control__item {
  margin: 0;
  list-style-type: none;
}

.segmented-control__item .left {
  border-radius: 5px 0 0 5px;
}

.segmented-control__item .right {
  border-radius: 0 5px 5px 0;
}

.segmented-control__input {
  position: absolute;
  opacity: 0;
}

.segmented-control__label {
  padding: 0 25px;
  display: block;
  border: 1px solid #ddd;
  text-align: center;  
}

.segmented-control__label:hover {
  opacity: 50%;
  background: #C0B283;
  color: #ffffff; 
}

.segmented-control__input:focus + .segmented-control__label {
  outline: 1px solid blue;
}


.segmented-control__input:checked + .segmented-control__label {
  background: #C0B283;
  color: #ffffff; 
}

.add_search_input_text {
  height: 2rem;
}

.select_show_form {
  margin-top: 20px;
}

.select_show_form button:hover:enabled {
  background-color: #E54E45;
}

.show_results_form {
  max-width: 100%;
  margin-top: 25px;
}

.season_buttons {
  margin-top: 5px;
}

.season_buttons button {
  margin: 7.5px 15px;
}

.season_buttons button:hover:enabled {
  background-color: #E54E45;
}

.show_results_form__context {
  margin-top: -20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

@media only screen and (max-width: 425px) {
  .add_media_page {
    height: 100%;
  }

  .season_buttons button {
    margin: 2.5px 2.5px;
  }
  
  .add_media_page h3 {
    margin: 0;
  }

  .search_results_ul {
    margin: 0 auto;
  }

  .add_media_form__context__date_watched p, .add_media_form__context__recommendation p {
    margin: 1px auto;
  }
}