.watch_page {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  text-align: center;
}

.watch_page h2, .watch_page p {
  margin: 7.5px 0;
}

.watch_page__select_filters {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.watch_page__select_filters p {
  margin: 5px 5px;
}

.watch_page__ul {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  flex-direction: row;
  list-style-type: none;
}

.empty-watch-list {
  margin-top: 50px;
}

.link-to-add {
  margin-top: 50px;
  text-decoration: none;
}

.watch_page_li {
  text-align: center;
  max-width: 100%;
  width: 125px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 7.5px 5px;
}

.watch_page__ul li p {
  margin: 0;
  font-size: .6rem;
}

.watch_page__ul li h3 {
  margin: 0;
  font-size: .8rem;
}

.watch_page__ul li a {
  margin-top: 7.5px;
  text-decoration: none;
}

.watch_page__ul li button {
  align-self: center;
  font-size: .5rem;
}

.watch_page__ul li button:hover {
  background-color: #E54E45;
}

.image_overlay {
  position: relative;
  width: 100%;
  padding: 0 2px;
}

.result_img {
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: -125%;
  text-align: center;
}

.image_overlay:hover .result_img {
  opacity: 0.3;
}

.image_overlay:hover .overlay {
  opacity: 1;
}

.overlay p {
  color: black;
}

.bold {
  font-weight: 900;
}

@media only screen and (max-width: 425px) {
  .watch_page__select_filters {
    font-size: .75rem;
  }
  .watch_page h2, .watch_page p {
    font-size: .75rem;
  }

  .watch_page__ul {
    height: 600px;
    overflow-y: scroll;
  }

  .watch_page_li {
    margin: 10px 15px;
  }
}

@media only screen and (max-width: 320px) {
  .watch_page_li {
    margin: 5px 5px;
  }
}