.landing_page {
  text-align: center;
  width: 550px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Poppins', sans-serif;
}

.landing_page_buttons {
  display: flex;
  justify-content: center;
}

.landing_page_buttons .button {
  font-size: 1.1rem;
  width: 100px;
  height: 50px;
  margin: 20px;
}

@media only screen and (max-width: 420px) {
  .landing_page {
    margin-top: 25%;
  }
}

@media only screen and (max-width: 420px) {
  .landing_page {
    margin-top: 30%;
  }
}