nav {
  display: flex;
  max-width: 1024px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-header {
  display: flex;
  flex-direction: column;
}