.nav_container {
  padding: 0 25px 5px 25px;
  display: flex;
  flex-direction: row;
  background-color: #DCD0C0;
  border-radius: 0 0 10px 10px;
}

nav {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button {
  text-decoration: none;
  padding: 10px;
  color: #ffffff;
  background-color: #373737;
  border-radius: 7.5px;
  margin: 0 5px;
}

.Header {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  width: 100%;
}

.Header__logged-in .button, .Header__not-logged-in .button {
 margin: 0 2.5px;
}

.left-header {
  display: flex;
  flex-direction: column;
  font-size: .65rem;
}

.left-header h1 {
  font-size: 1rem;
}

.left-header a {
  text-decoration: none;
}

.right-header .button {
  font-size: .65rem;
}

@media only screen and (max-width: 425px) {
  .Header {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 0px;
  }

  .Header h1 {
    font-size: .95rem;
  }

  .tagline {
    font-size: .90rem;
  }

  .left-header p {
    display: none;
  }

  .right-header .button {
    font-size: .5rem
  }
}