.search_results_ul {
  padding: 0;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
}

.show_result {
  margin: 10px 15px;
  max-width: 125px;
}