fieldset {
  margin-top: 20px;
}

.search_results_ul {
  padding: 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
}

.search_results_ul li {
  margin: 5px
}

.show_result {
  max-width: 125px;
}