.episode_results__ul li {
  text-align: left;
}

.episode_results__ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: scroll;
  width: 550px;
  max-width: 90%;
  list-style-type: none;
  max-height: 300px;
}

@media only screen and (max-width: 425px) {
  .episode_results__ul {
    max-height: 135px;
    flex-wrap: nowrap;
    overflow-y: scroll;
    justify-content: flex-start;
  }
}